.contactStyle{

    height: 60vh;
    width: 100%;
    position: relative;
    bottom: 3rem;
    
}
.contactTitle{
    
    height: 20%;
    text-align: center;
    width: 100%;
    
}
.contactTitle h2, .contactTitle h3{
    
    
    font-size: 2.8rem;
    display: inline-block;
    font-weight: 800;
    font-style: italic;
    text-shadow: 4px 4px 2px rgb(39, 39, 39);
    margin: 0 .5%;

}
.contactTitle h2{

    color: #fff;

}
.contactTitle h3{

    color: #F79716;

}
.formasContacto{

    height: 80%;

}
.formasContacto ul{

    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.329);
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.formasContacto ul li{

    width: 100%;
    padding-left: 3rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 30%;
    justify-content: center;
}
.formasContacto ul li h2, .formasContacto ul li h3, .formasContacto ul li i{

    display: inline-block;
    font-size: 3rem;
    

}
.formasContacto ul li i{

    font-size: 3.5rem;
    margin-right: 2rem;

}
.formasContacto ul li h3{

    color: #fff;
    text-shadow: 4px 4px 2px rgb(39, 39, 39);
}
.formasContacto ul li h2{

    color: #F79716;
    text-shadow: 4px 4px 2px rgb(39, 39, 39);
}

@media screen and (max-width:700px){

    .contactStyle{

        margin-top: 8rem;

    }
   

}